doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    // script(type='text/javascript', src='/js/paper.js')
    // script(type='text/javascript', src='/js/raphael.js')    
    // script(type='text/paperscript', canvas='canvas', src='/js/waterglass.js')
    // script(type='text/javascript', src='/js/processing.js')
    block head

  body
    #water-container
    #glass
      #water
    #msg
    block content    


