doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(type='text/javascript', src='/js/script.js')
    script(type='text/javascript', src='/js/raphael.js')    
    block head

  body
    #waters
      #player-one.player-blocking
        .water-container
          .glass
            .water#lol
      #player-two.player-blocking
        .water-container
          .glass
            .water
    #msg
    block content    


