doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    // script(type='text/javascript', src='/js/plugins.js')    
    script(type='text/javascript', src='/js/raphael.js')    
    block head

  body
    #waters
      #player-one.player-blocking
        #p1-glass.glass-min
          .glass-container.player-one
            .glass.player-one
              .water.player-one
      #player-two.player-blocking
        #p2-glass.glass-min
          .glass-container.player-two
            .glass.player-two
              .water.player-two

    #msg  
    #ready-prompt.game-prompt
      h1 Ready???
    #go-prompt.game-prompt
      h1 Go!!!
    #end-prompt.game-prompt
      h1 Congratulations!!!
      h1#won You Won!!!!


    block content    
    | <audio id="drop1" src="/sound/drop3.wav" preload="auto"></audio>
    | <audio id="drop2" src="/sound/drop2.wav" preload="auto"></audio>
    | <audio id="drop3" src="/sound/drop1.wav" preload="auto"></audio>
    script(type='text/javascript', src='/js/script.js')    
    script(type='text/javascript')    
      mainLoginBlink = function () {
        $('.login:first').delay(100).fadeTo(100,0).delay(100).fadeTo(100,1, mainLoginBlink);
      }
      mainTitleBlink = function () {
        $('#main-title').delay(100).fadeTo(100,0).delay(100).fadeTo(100,1, mainTitleBlink);
      }
      $(document).ready(function(){
        // mainTitleBlink();
        // setTimeout(mainLoginBlink, 100);
      });
