extends ../../../views/layout

block head
  script(type='text/javascript', src="/socket.io/socket.io.js")
  script(type='text/javascript')
    var socket = io.connect('http://localhost');
    socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: 'data' });
    });
    socket.on('tweets', function (data) {
      console.log(data);
    });

block content
  h1= title
