extends ../../../views/layout

block head
  link(rel='stylesheet', href='/stylesheets/game.css')
  script(type='text/javascript', src="/js/game.js")
  script(type='text/javascript', src="/socket.io/socket.io.js")
  script(type='text/javascript')
    var socket = io.connect('http://localhost');
    socket.on('twitterConnected', function (data) {
      // console.log(data);
    });
    socket.on('playerOneTweet', function (data) {
      playerOneDrop(); 
    });
    socket.on('playerTwoTweet', function (data) {
      playerTwoDrop(); 
    });

block content
  #main-nav
    h1= title
    h1= "Welcome " + playerTwoName + "!!!"

  #ready-prompt.game-prompt
    h1 Ready???
  #go-prompt.game-prompt
    h1 Go!!!
