extends ../../../views/layout

block head
  link(rel='stylesheet', href='/stylesheets/game.css')
  script(type='text/javascript', src="/js/game.js")
  script(type='text/javascript', src="/socket.io/socket.io.js")
  script(type='text/javascript')
    var socket = io.connect('http://tillthelast.drop')
      , p1Q = 0
      , p2Q = 0;
    window.go = false;

    dropper = function() {
    if (window.go){  
      if (p1Q > 0) {
        p1Q--;
        playerOneDrop(); 
      }
      if (p2Q > 0) {
        p2Q--;
        playerTwoDrop(); 
      }
       }    };

    socket.on('playerOneTweet', function (data) {
       if (window.go) {
         p1Q++;
       }
    });
    socket.on('playerTwoTweet', function (data) {
       if (window.go) {
         p2Q++;
       }
    });

    window.iid = setInterval(dropper, 3000);

block content
  #main-nav
    h1#main-title= title
    h1#player2-welcome= "Welcome " + playerTwoName + "!!!"

  #ready-prompt.game-prompt
    h1 Ready???
  #go-prompt.game-prompt
    h1 Go!!!
  #end-prompt.game-prompt
    h1 Congratulations!!!
    h1 You Won!!!!

  script(type='text/javascript', src='/js/script.js')    
  script(type='text/javascript')    
    killP2 = function(){ $('#player2-welcome').fadeOut(300) };
    $(document).ready(function(){ setTimeout(killP2, 2500)});
