extends ../../../views/layout

block content
  h1= title
  form(method='post',action='')
    label(for='twitter') What's your twitter id?
    input(type='text',name='twitter',id='twitter') 
    | <a href="/auth/twitter">twitter twitter twitter</a>
