extends ../../../views/layout

block head
  script(type='text/javascript', src="/socket.io/socket.io.js")
  script(type='text/javascript')
    var socket = io.connect('http://localhost');
    socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: 'data' });
    });
    socket.on('twitterConnected', function (data) {
      // console.log(data);
    });

block content
  #main-nav
    h1= title
    h1= "Welcome " + playerOneName + "!!!"
    form(method='post',action='')
      | <a href="/auth/twitter">Player 2 Login</a>
