extends ../../../views/layout

block head
  script(type='text/javascript', src="/socket.io/socket.io.js")
  script(type='text/javascript')
    var socket = io.connect('http://localhost');

block content
  #main-nav
    h1#main-title= title
    h1= "Welcome " + playerOneName + "!!!"
    form#login(method='post',action='')
      | <a class='button' href="/auth/twitter">PLAYER 2 LOGIN</a>
